# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env